{% extends "frink.html" %}
{% block javascript %}
	<script type="text/javascript" src="/static/jquery-1.8.0.min.js"></script> 
	<script type="text/javascript" src="/static/jquery.tablesorter.min.js"></script> 
	<script>
		$(document).ready(function() 
		    { 
				$("table").tablesorter(); 
		    } 
		    
		);

	</script>
{% endblock %}



{% block content %}	
    <div class='toplist'><h1>{{clan_name}}</h1><table id="top10t">
	<thead>
		<tr>
			<th></th>
			<th>Rank</th>
			<th>Player</th>
			<th>Kills</th>
			<th>Deaths</th>
			<th>K:D</th>
		</tr>
	</thead>
	{% for player in clan_players %}
		<tr>
			<td>{% if player.avatar %}<img class="player_pic" onerror="this.style.display='none'" src="{{player.avatar.small}}"></img>{% endif %}</td>
			<td>{{forloop.counter}}</td>
			<td><a {% if player.gold %} class="gold" {% endif %} href="/player/{{ player.name }}/{{timespan}}">{{ player.name }}</a></td>
			<td>{{player.kills}}</td>
			<td>{{player.deaths}}</td>
			<td>{{player.kd}}</td>
		</tr>
	{% endfor %}
    </table></div>

{% endblock %}
