{% extends "frink.html" %}

{% block content %}	
		
				<div id="topsection">
					{% if hammer %}
					<div class="toplist" id="hammer"><h1>Hammer</h1>
						<table>
							<thead>
								<tr>
									<th></th>
									<th>Rank</th>
									<th>Player</th>
									<th>Kills</th>
								
								</tr>
							</thead>
							<tbody>
							{% for player in hammer %}
								<tr>
									<td>{% if player.avatar %}<img class="player_pic" onerror="this.style.display='none'" src="{{player.avatar.small}}"></img>{% endif %}</td>
									<td>{{forloop.counter}}</td>
									<td><a {% if player.gold %} class="gold" {% endif %} href="/player/{{ player.name }}/{{timespan}}">{{player.name }}</a></td>
									<td>{{player.kills}}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>
				{% endif %}
				{% if sword %}
				<div class="toplist" id="sword"><h1>Sword</h1>
					<table>
						<thead>
							<tr>
								<th></th>
								<th>Rank</th>
								<th>Player</th>
								<th>Kills</th>
							
							</tr>
						</thead>
						<tbody>
						{% for player in sword %}
							<tr>
								<td>{% if player.avatar %}<img class="player_pic" onerror="this.style.display='none'" src="{{player.avatar.small}}"></img>{% endif %}</td>
								<td>{{forloop.counter}}</td>
								<td><a {% if player.gold %} class="gold" {% endif %} href="/player/{{ player.name }}/{{timespan}}">{{player.name }}</a></td>
								<td>{{player.kills}}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				{% endif %}
				{% if bow %}
				<div class="toplist" id="bow"><h1>Bow</h1>
					<table>
						<thead>
							<tr>
								<th></th>
								<th>Rank</th>
								<th>Player</th>
								<th>Kills</th>
							
							</tr>
						</thead>
						<tbody>
						{% for player in bow %}
							<tr>
								<td>{% if player.avatar %}<img class="player_pic" onerror="this.style.display='none'" src="{{player.avatar.small}}"></img>{% endif %}</td>
								<td>{{forloop.counter}}</td>
								<td><a {% if player.gold %} class="gold" {% endif %} href="/player/{{ player.name }}/{{timespan}}">{{player.name }}</a></td>
								<td>{{player.kills}}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				{% endif %}
				{% if bomb %}
				<div class="toplist" id="bomb"><h1>Bomb</h1>
					<table>
						<thead>
							<tr>
								<th></th>
								<th>Rank</th>
								<th>Player</th>
								<th>Kills</th>
							
							</tr>
						</thead>
						<tbody>
						{% for player in bomb %}
							<tr>
								<td>{% if player.avatar %}<img  class="player_pic" onerror="this.style.display='none'" src="{{player.avatar.small}}"></img>{% endif %}</td>
								<td>{{forloop.counter}}</td>
								<td><a {% if player.gold %} class="gold" {% endif %} href="/player/{{ player.name }}/{{timespan}}">{{player.name }}</a></td>
								<td>{{player.kills}}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				{% endif %}
				{% if catapult %}
				<div class="toplist" id="catapult"><h1>Catapult</h1>
					<table>
						<thead>
							<tr>
								<th></th>
								<th>Rank</th>
								<th>Player</th>
								<th>Kills</th>
							
							</tr>
						</thead>
						<tbody>
						{% for player in catapult %}
							<tr>
								<td>{% if player.avatar %}<img  class="player_pic" onerror="this.style.display='none'" src="{{player.avatar.small}}"></img>{% endif %}</td>
								<td>{{forloop.counter}}</td>
								<td><a {% if player.gold %} class="gold" {% endif %} href="/player/{{ player.name }}/{{timespan}}">{{player.name }}</a></td>
								<td>{{player.kills}}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				{% endif %}
				{% if foot %}
				<div class="toplist" id="foot"><h1>Foot</h1>		
					<table>
						<thead>
							<tr>
								<th>Rank</th>
								<th>Player</th>
								<th>Kills</th>
							
							</tr>
						</thead>
						<tbody>
						{% for player in foot %}
							<tr>
								<td>{% if player.avatar %}<img  class="player_pic" onerror="this.style.display='none'" src="{{player.avatar.small}}"></img>{% endif %}</td>
								<td>{{forloop.counter}}</td>
								<td><a {% if player.gold %} class="gold" {% endif %} href="/player/{{ player.name }}/{{timespan}}">{{player.name }}</a></td>
								<td>{{player.kills}}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
				{% endif %}
			</div>
{% endblock %}
