@font-face
{
	font-family: eightbit;
	src: url('/static/yoster.ttf');
}
body {
	background-color: #800;
	font-family: eightbit;
	font-smooth: never;
	text-align:center;
	color:#FFF;
	text-shadow: 2px 2px #000000;
}
#drfrink{
	font-size:36px;
}
#funhouse{
	font-size:96px;
	text-shadow: 6px 6px #000000;
}
a {
	color:#FFF;
	text-decoration:none;
}
main {

	margin-left: auto;
   	margin-right: auto;
	
	width:800px;
}
#top10 {
	font-size:24px;

	margin-left: auto;
   	margin-right: auto;
	
	width:auto;
}
table {
	background-color: #600;
	font-size:24px;
	margin-left: auto;
   	margin-right: auto;
	text-align:left;
	border-style:none;
	padding:2px 8px 2px 8px;
	
}

td{
	padding:5px;
	margin:4px;
}
tr{
	background-color: #600;
}

tr:hover {
	background-color:#400;
}
#stats {
	width:80%;
	font-size:36px;
	margin-left: auto;
   	margin-right: auto;

}

#kills {
	float:left;
}
#deaths {
}
