@font-face
{
	font-family: eightbit;
	src: url('/static/yoster.ttf');
}
body {
	background-color: #800;
	font-family: eightbit;
	font-smooth: never;
	text-align:center;
	color:#FFF;
	text-shadow: 2px 2px #000000;
}
#drfrink{
	font-size:36px;
}
#timespans{
	position: fixed;
	left:16px;
	bottom:36px;
}
.timespan{
	color:#800;
	font-size:24px;
	display:inline;
	opacity: 0.2;
	border:8px solid #000;
	text-shadow:none;
	background-color:#000;
}
.gold{
	text-shadow: 0px 0px 12px #FD0;
	color: #FD3;
}
.player_pic {
	max-height:24px;
	position:relative;
	background-color:#FFF;
	opacity: 0.9;
	-moz-box-shadow: 0px 0px 10px #FFF;
	-webkit-box-shadow: 0px 0px 10px #FFF;
	box-shadow: 0px 0px 10px #FFF;
	border:2px solid #FFF;
}
.timespan:hover{
	transition: background-color 0.5s;
	-webkit-transition: 0.5s;
	opacity:1;
	box-shadow:0 0 12px #FA0;
	border:8px solid #FA0;
	background-color:#FA0;
	color:#FFF;
}


#funhouse{
	font-size:96px;
	text-shadow: 6px 6px #000000;
}
#funhouse a:hover{
	transition: text-shadow 0.4s;
	-moz-transition: text-shadow 0.4s;
	-webkit-transition: text-shadow 0.4s;
	text-shadow: 6px 6px 10px #000;
}
#links {
	font-size:36px;
	margin-bottom:0px;
	padding-bottom:0px;
	display:inline;
}
#links span{
	padding:3px;
	margin-left:8px;
	margin-right:8px;
	border:5px;

}
h1{
	margin-top:0px;
	margin-bottom:0px;
}
a {
	color:#FFF;
	text-decoration:none;

}
a:hover {
	transition: text-shadow 0.4s;
	-moz-transition: text-shadow 0.4s;
	-webkit-transition: text-shadow 0.4s;
	text-shadow:0px 0px 4px #FFF;
}
main {

	margin-left: auto;
   	margin-right: auto;
	
}

::-webkit-scrollbar {
    width: 16px;
}
 
::-webkit-scrollbar-track {
    background: #800; 
}
 
::-webkit-scrollbar-thumb {
    background: #600;
}

.toplist {
	background-color:#900;
	padding-bottom:48px;
	overflow-y:auto;
	height:95%;
	border-top-style:solid;
	border-top-width:4px;
	border-top-color:#900;
	border-bottom-style:solid;
	border-bottom-width:4px;
	border-bottom-color:#900;
	
}
.toplist h1{font-size:48px;}

#top10,#player {
	border:0px;
	font-size:24px;
	margin-top:0px;
	margin-left: auto;
   	margin-right: auto;
	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:48px;
	background:#900;
	width:90%;
}
#player{

}
table {
	table-layout:fixed;
	background-color: #600;
	font-size:24px;
	margin-left: auto;
   	margin-right: auto;
	text-align:left;
	border-style:none;
	padding:2px 8px 2px 8px;
	width:auto;
	

}
thead{
	cursor:pointer;
}
td{
	padding:5px;
	margin:4px;
}
tr{
	background-color: #600;

}

th:hover {
	background-color: #600;
	transition: text-shadow 0.4s;
	-moz-transition: text-shadow 0.4s;
	-webkit-transition: text-shadow 0.4s;
	text-shadow:0px 0px 4px #FFF;
}

tr:hover {
	background-color:#400;
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
}
#stats {
	width:80%;
	font-size:36px;
	margin-left: auto;
   	margin-right: auto;

}

#kills {
	display:inline-block;
}
#deaths {
	display:inline-block;
}
